main {
  margin: 3rem auto;
}
main h1 {
  text-align: center;
  color: rgb(12, 10, 6);
}
main p {
  text-align: center;
  color: rgb(12, 10, 6);
}
#actions {
  list-style: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
#actions a {
  text-decoration: none;
  color: white;
}
#actions a:hover {
  color: orange;
}
#actions li {
  padding: 2.5rem;
  margin: 1rem;
  background-color: rgb(34, 27, 16);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: 14rem;
}
@media(max-width:35rem){
    #actions{
        display: block;
    }
} 